doctype html
html
  head
    title My Express App
    meta(charset="utf-8")
    link(rel="stylesheet", href="/style.css")
  body
    header
      h2 Talent outsourcing
      nav
        ul
          li
            a(href="/")
              button(type="button" class="rounded-button") Home
          li
            a(href="/ultimatumSignUp")
              button(type="button" class="rounded-button") Sign Up
          li
            a(href="/ultimatumLogIn")
              button(type="button" class="rounded-button") Log In
          li
            a(href="/employer-auth/employerLogout")
              button(type="button" class="rounded-button") Log Out
          li
            a(href="/employers")
              button(type="button" class="rounded-button") Employer service
          li
            button(class="icon-button" id="openIndexButton")
              img(src="/image/telegram-icon.png" alt="Logo")
          li
            p Role: #{role}
            if role
              if role === 'student'
                a(href='/student/profile')
                  img(src="/image/contact.png" alt="Profile Icon")
                  | Profile
              else if role === 'employer'
                a(href='/employer/profile')
                  img(src="/image/contact.png" alt="Profile Icon")
                  | Profile
            else 
              a(href ='/ultimatumLogIn')
                img(src="/image/contact.png" alt="Profile Icon")

    script.
      document.getElementById('openIndexButton').addEventListener('click', () => {
        // Redirect the user to the index route of the messaging project
        window.location.href = 'http://localhost:3000/';
      });

   

    block content