extends layout

block content
  div(style="text-align: center;")
    h1 Profile Page
    if role === 'student'
      a(href='/student/profile') View Student Profile
    else if role === 'employer'
      a(href='/employer/profile') View Employer Profile

    if profile
      p Welcome, #{profile.user.name}!
      p Email: #{profile.user.email}
      p Bio: #{profile.bio || 'No bio available'}
      // Add other profile fields here (e.g., profile picture, etc.)
    else
      p Profile not found
